# Folders

coverage/
dist/
node_modules/
out/
test/

# Files

.dockerignore
.editorconfig
.env
.gitignore
.lintstagedrc
.prettierrc
commitlint.config.js
Dockerfile
eslint.config.mjs
nest-cli.json
\*.md
